.container {
    position: relative;
    width: 600px;
    max-width: calc(100% - 40px);
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 40px auto;
    .noFixtureTxt {
        text-align: center;
        padding: 20px 0px;
        color: #aaa;
    }
    .universe {
        margin-bottom: 30px;
        .tableHeader {
            font-size: 1.3em;
            padding: 10px 0px;
            font-weight: 600;
            .smallHeader {
                font-weight: 300;
                font-size: 0.65em;
                float: right;
            }
        }

        .table {
            width: 100%;
            display: flex;
            flex-direction: column;
            .tableHead {
                background-color: rgba(0,0,0,0.15);
                width: 100%;
                display: none;
                flex-direction: row;
                div {
                    padding: 5px;
                }
            }
            .tableBody {
                width: 100%;
            }
            .tableRow {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #eee;
            }
            .tc1 {
                display: flex;
                align-items: center;
                width: 30px;
                padding: 5px;
                font-size: 0.9em;
            }
            .tc2 {
                display: flex;
                align-items: center;
                flex: 1;
                padding: 5px;
                font-size: 0.9em;
            }
            .tc3 {
                display: flex;
                align-items: center;
                flex: 1;
                padding: 5px;
                font-size: 0.9em;
            }
            .tc4 {
                display: flex;
                align-items: center;
                padding: 5px;
                font-size: 0.9em;
            }
            .tc5 {
                display: flex;
                align-items: center;
                width: 60px;
                padding: 5px;
                font-size: 0.9em;
                justify-content: center;
            }
            .tc6 {
                display: flex;
                align-items: center;
                width: 130px;
                padding: 5px;
                font-size: 0.9em;
            }
        }
    }
}

@media print {
    .container {
        box-shadow: none;
        padding: 0px;
        width: 100%;
        // table {
        //     thead th:first-child {
        //         width: 0px !important;
        //     }
        // }
        .tc1 {
            display: none !important;
        }
        .delete {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .tableHead {
        display: flex !important;
    }
}